<form [formGroup]="formGroup" (ngSubmit)="createEmployee()">
  <label for="phone">Phone</label>
  <input id="phone" formControlName="phone" >
  <label for="userName">User Name</label>
  <input id="userName" formControlName="userName">
  <label for="email">Email:</label>
  <input id="email" formControlName="email">
  <label for="position">Position:</label>
  <input id="position" formControlName="position">
  <button type="submit">Submit</button>
</form>

<pre *ngIf="getEmployeeDto; else loading">
  {{ JSON.stringify(getEmployeeDto) }}
</pre>
<ng-template #loading>
  <p *ngIf="isSubmitted">Loading...</p>
</ng-template>
